<script type='text/javascript'>
$(function() {
  // These settings override the defaults set in application.coffee. You can do this on a per dashboard basis.
  Dashing.gridsterLayout('[{"col":1,"row":2,"size_x":1,"size_y":2},{"col":1,"row":1,"size_x":1,"size_y":1},{"col":2,"row":1,"size_x":4,"size_y":2},{"col":2,"row":3,"size_x":2,"size_y":1},{"col":4,"row":3,"size_x":2,"size_y":1}]')
  Dashing.widget_base_dimensions = [370, 330]
  Dashing.numColumns = 5
});
</script>


<% content_for :title do %>Dashboard Junges Angebot von ARD&ZDF<% end %>

<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
      <div data-id="startup_quote"
       data-view="Image"
       data-title="Startup quote"
       style="background-color:#666666;">
      </div>
    </li>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-view="SAD_Clock" 
      style="background-color:#666666;"></div>
      <i class="fa fa-clock-o icon-background"></i>
    </li>

      <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
       <div data-id="google_calendar" 
       data-view="GoogleCalendar" 
       style=" background-color:#674949;"></div>
    </li>

     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="google_calendar2" 
       data-view="GoogleCalendar2" 
       style=" background-color:#424E69;"></div>
    </li>

     <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
       <div data-id="google_calendar3" 
       data-view="GoogleCalendar3" 
       style=" background-color:#4B6749;"></div>
    </li>

  </ul>
</div>