<script type='text/javascript'>
 $(function() {
   Dashing.gridsterLayout('[{"col":1,"row":1,"size_x":2,"size_y":2}]')
 });
 </script>

<% content_for :title do %>Dashboard Junges Angebot von ARD&ZDF<% end %>

<div class="gridster">
  <ul>
      <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
       <div data-id="google_calendar" 
       data-view="GoogleCalendar" 
       style=" background-color:#666666;"></div>
     <i class="fa fa-calendar icon-background"></i>
    </li>
  </div>
</li>
  </ul>
</div>